@model IEnumerable<Viajah.Models.RegiaoHistoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienciasBoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienciasRuin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRegiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRegiaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienciasBoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienciasRuin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRegiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRegiaoNavigation.Cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
